//custom  variables
$danger: #f44336;
$primary: #001c55;

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors:(
    "gray-800": #343a40,
    "cyan-800": #2a6f97,
    "gray-200": #e9ecef,
    "gray-100": #8a817c,
    "orange-100": #FFE0CC
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
