@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon-st{
    font-family: 'Roboto Slab', serif;
}
.navbar-fn li a{
    font-family: 'Poppins', sans-serif;
}
.nav-hover:hover{
    color: #f44336 !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #f44336;
}
.nav-link:hover {
    color: #f44336;
}
.navbar-nav {
    --bs-nav-link-color: #001c55;
    --bs-nav-link-hover-color: #001c55;
}