@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start */
/* 1st section */
.icon-st{
    font-family: 'Roboto Slab', serif;
}
.navbar-fn > li > a{
    font-family: 'Poppins', sans-serif;
}
.nav-hover:hover{
    color: #f44336 !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #f44336;
}
.nav-link:hover {
    color: #f44336;
}
.navbar-nav {
    --bs-nav-link-color: #001c55;
    --bs-nav-link-hover-color: #001c55;
}
.drop-it{
    font-family: 'Poppins', sans-serif;
    font-size: 0.813rem;
}
.b-pill{
    padding: 0.75rem 0;
}
.b-pill:hover{
    background-color: #f44336;
    color: #ffffff !important;
    border: 0.063rem solid #f44336 !important;
}
.sw-drop{
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
}
/* 2nd section */
.hd-sec-2{
    height: 80vh;
}
.geo-p{
    font-family: 'Poppins', sans-serif;
}
.geo-h{
    font-family: 'Roboto Slab', serif;
    font-size: 4.063rem;
    font-weight: 700;
}
.geo-pslab{
    font-family: 'Roboto Slab', serif;
}
.geo-btn{
    font-family: 'Poppins', sans-serif;
    font-size: 0.813rem !important;
}
.end-hs-2 {
    right: -0.625rem !important;
}
.top-hs-2 {
    top: 5.313rem !important;
}
/* header end */

/* main start */
/* 1st section */
.ms-1st{
    height: 70.938rem;
}
.ms-1st-con{
    margin-top: 11.563rem;
}
.ms-1st-img {
    width: 76%;
    height: 82%;
}
.start-ms-1 {
    left: 50%;
}
.top-ms-1 {
    top: 49%;
}
.cb-ms-1st{
    padding: 0 4rem;
}
.ms-1st-li{
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;
}
.emt-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.625rem 2.25rem 0rem, rgba(0, 0, 0, 0.06) 0rem 0rem 0rem 0.063rem;
}
/* 2nd section */
.ms-2nd-mb{
    margin-bottom: 6.75rem;
}
/* 3rd section */
.ms-3rd-card{
    padding: 1.563rem 1.5rem 2.25rem 1.5rem !important;
}
.ms-3rd-mb{
    margin-bottom: 8.4rem;
}
/* 4th section */
.ms-4th-h{
    height: 25.25rem;
}
.ms-4th-top{
    top: 67% !important;
}
.fs-7{
    font-size: 0.875rem;
}
.lh-own{
    line-height: 1.75rem;
}
.p-own{
    padding: 2rem 0 1.563rem 0;
}
/* 5th section */
.back-bg{
    width: 100%;
    height: 15.625rem;
}
/* 7th section */
.img-ms-7{
    width: 85%;
}
.w-ms-7{
    border-radius: 0.875rem !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0rem 0.25rem 2.75rem;
}
.w-68{
    width: 85% !important;
}
.top-ms-7{
    top: 50% !important;
}
.start-ms-7{
    left: 0.875rem !important;
}
.border-ms-7{
    border-width: 0.438rem !important;
}
.img-fluid-ms-7{
    max-width: 27%;
}
.ms-7-bg{
    padding: 5rem 0;
    margin-bottom: 8rem;
}
.ms-7-bg::before{
    content: '';
    width: 77%;
    height: 100%;
    background-color: #e9ecef;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 1.25rem 0 0 1.25rem;
}
/* 8th section */
.p-ms-8{
    width: 43%;
}
/* 11th section */
.fs-ms-11{
    font-size: 3rem;
}
/* main end */